pkgbase = geany-plugin-jsonprettifier
	pkgdesc = Clean up unformatted JSON in Geany editor
	pkgver = 1.7.0
	pkgrel = 1
	url = https://plugins.geany.org/jsonprettifier.html
	arch = i686
	arch = x86_64
	license = GPL-2.0-or-later
	depends = geany
	depends = yajl
	source = https://github.com/zhgzhg/Geany-JSON-Prettifier/archive/refs/tags/v1.7.0.tar.gz
	b2sums = 2f72f06d8411072c5b77a9404f6e53fa5ec3b9a3702c5b74280a8c1a61d64aad6e6ac1b8e994264a2fdf1d98253a94b2a5c47d1c7323916ad6a5266f1dd02f70

pkgname = geany-plugin-jsonprettifier
